$('#notice_message').empty()
<% if @life_type.errors.blank? %>
  $('[data-id="<%= @life_type.id %>"]').hide("drop")
  tr = $('[data-id="show_<%= @life_type.id %>"]')
  td_elements = tr.find('td')
  $(td_elements[1])[0].innerText = "<%= @life_type.name %>"
  $(td_elements[2])[0].innerText = "<%= @life_type.description %>"
  $('#notice_message').append(message);
<% else %>
  $('#notice_message').append(messageFail);
<% end %>

function message() {
  var text = "<div class='alert alert-success' role='alert'>";
  text += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
  text += "<%= flash[:success] %></div>";
  return text;
}
function messageFail() {
  var text = "<div class='alert alert-danger' role='alert'>";
  text += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
  text += "<%= @life_type.errors.full_messages[0] %></div>";
  return text;
}